<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <th:block th:replace="fragments :: styles"/>
</head>
<body>
<!--Wklejam navigator-->
<div th:replace="fragments :: navigator"></div>
<h1>Pets List</h1>
<br/>

<table>
    <thead>
    <tr>
        <th>petsName</th>
        <th>petsAge</th>
        <th>race</th>
    </tr>
    </thead>
    <tbody>

    <!--tr th:each="pet: ${listOfPets}">
        <td th:text="${petDTO.petsName}"></td>
        <td th:text="${petDTO.petsAge}"></td>
        <td th:text="${petDTO.race}"></td>
        <td>
            <a th:href="@{/students/list}">Return</a>
        </td>
    </tr-->
    </tbody>
</table>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>